.nav-container {
    background-color: black;

}


.nav-list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(4, 1fr);
    margin-inline: auto;
}

.nav-list{
    color: aliceblue;
}