#title{
    text-align: center;
}
.nav-container {
    background-color: black;
    padding: 16px;
    text-align: center;
}

.nav-container a{
    padding: 16px;
    text-align: center;

}
.nav-container a:hover{
    background-color: aliceblue;
}